.auth-bloger {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #444;
    margin-top: 15px;
    margin-bottom: 65px;
    input,
    button {
        margin-bottom: 15px;
    }
     ::-webkit-input-placeholder,
    input,
    textarea,
    button {
        font-family: 'Source Sans Pro', sans-serif;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input {
        height: 40px;
        border: 1px solid #D8D8D8;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }
    form {
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        .otp,
        .send-btn {
            _display: none;
            opacity: 0;
            overflow: hidden;
            max-height: 0;
        }
        .otp-sent {
            color: #888;
            _display: none;
            opacity: 0;
            overflow: hidden;
            max-height: 0;
            -moz-transition: opacity 1s, max-height 1s;
            -ms-transition: opacity 1s, max-height 1s;
            transition: opacity 1s, max-height 1s;
            span {
                font-family: inherit;
                font-size: inherit;
                color: inherit;
            }
        }
        .no-match {
            color: #888;
            _display: none;
            opacity: 0;
            overflow: hidden;
            max-height: 0;
            -moz-transition: opacity 1s, max-height 1s;
            -ms-transition: opacity 1s, max-height 1s;
            transition: opacity 1s, max-height 1s;
        }
        .try-later {
            color: #888;
            _display: none;
            opacity: 0;
            overflow: hidden;
            max-height: 0;
            -moz-transition: opacity 1s, max-height 1s;
            -ms-transition: opacity 1s, max-height 1s;
            transition: opacity 1s, max-height 1s;
        }
        .expanded {
            max-height: 50px;
            opacity: 1;
            _display: block;
            transition: max-height 1s;
            margin-bottom: 25px;
        }
    }
}