@media (min-width: 240px) {
    .article {
        margin-top: 120px;
    }
}

@media (min-width: 576px) {
    .delay-article-post {
        margin-left: 25px;
    }
}

@media (min-width: 1200px) {
    .article {
        margin-top: 0;
    }
}

@media (max-width: 992px) {
    .article-form-bottom {
        div {
            padding-top: 15px;
        }
        .article-form-bottom-btns {
            padding-left: 0;
            padding-right: 0;
            .save-article,
            .delete-article {
                padding-left: 0;
            }
            .publish-article,
            .unpublish-article {
                padding-right: 0;
            }
        }
    }
}

@media (max-width: 576px) {
    .article-form-bottom {
        .article-form-bottom-btns {
            .save-article,
            .delete-article {
                padding-right: 0;
            }
            .publish-article,
            .unpublish-article {
                padding-left: 0;
            }
        }
    }
}

.article {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #444;
    .article-page-title {
        font-size: 18px;
        color: #333;
        font-weight: bold;
        text-transform: uppercase;
    }
    // Form
    form {
        margin-top: 30px;
        margin-bottom: 65px;
        input {
            height: 40px;
            font-family: 'Source Sans Pro', sans-serif;
            border-color: 1px solid #D8D8D8;
        }
        label {
            color: #444;
            padding-bottom: 5px;
        }
        .article-title {
            padding-bottom: 15px;
            input {
                padding: 15px;
            }
        }
        .article-content {
            textarea {
                width: 100%;
                resize: none;
                padding: 60px 15px 15px 15px;
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 14px;
            }
        }
        .article-tags {
            padding-top: 25px;
            input {
                padding: 15px;
            }
        }
        // Form bottom
        .article-form-bottom {
            padding-top: 25px;
            .article-author {
                input {
                    padding: 15px;
                    background-color: #EFF0F5;
                    border: 1px solid #D8D8D8;
                }
            }
            .article-form-bottom-inputs {
                div {
                    width: 100%;
                }
            }
            .article-form-bottom-btns {
                margin-right: -30px;
                div {
                    width: 100%;
                }
                button {
                    height: 40px;
                    font-size: 14px;
                    width: 100%;
                    cursor: pointer;
                    text-transform: uppercase;
                }
                .save-article {
                    button {
                        background-color: #fff;
                        color: #3350B2;
                        border: 1px solid #3350B2;
                        &:hover {
                            background-color: #3350B2;
                            color: #fff;
                        }
                    }
                }
                .publish-article {
                    button {
                        background-color: #3350B2;
                        color: #fff;
                        border: 1px solid #3350B2;
                        &:hover {
                            background-color: #fff;
                            color: #3350B2;
                            border: 1px solid #3350B2;
                        }
                        img {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}