#compact-pagination {
    ul {
        display: flex;
        li + li {
            margin-left: 2px;
        }
        li {
            .prev {
                position: relative;
                .prev-arrow {
                    position: absolute;
                    border-top: 2px solid #888;
                    border-right: 2px solid #888;
                    width: 10px;
                    height: 10px;
                    left: 16px;
                    z-index: -1;
                }
                &:before {
                    display: none;
                }
            }
            .next {
                position: relative;
                .next-arrow {
                    position: absolute;
                    border-top: 2px solid #888;
                    border-right: 2px solid #888;
                    width: 10px;
                    height: 10px;
                    z-index: -1;
                }
                &:before {
                    display: none;
                }
            }
            span {
                height: 40px;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .active {
            .current {
                background-color: #3350B2;
                color: #fff;
                font-weight: bold
            }
        }
        .ellipse {
                width: 55px;
        }
    }
}