ul.tagit {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #444444;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1px 15px;
    li {
        margin: 0;
        .tagit-choice-editable {
            padding: .2em;
        }
        .ui-widget-content {
            border: none;
        }
    }
    .tagit-choice {
        border: none;
    }
    .tagit-close {
        display: none;
    }
    li.tagit-choice-editable {
        padding: .2em;
    }
    li.tagit-new {
        width: 240px;
        input {
            height: auto;
            padding: 5px;
        }
    }
}